.brand-name{
    text-decoration: none;
    font-size: 28px;
    color: black;
    margin-left: 30px;
    font-weight: 600;
}
.brand-name:hover{
    color: black;
}
.header-image{
    height: 50px;
    width: 50px;
    
}
.header-link{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
}