.subject-card{
    height: 750px;
    border: 1px solid lightcyan;
    padding: 8px;
    width: 75%;
}
.button{
    display: flex;
    justify-content: space-between;
}
.subject-card img{
    height: 300px;
}

@media screen and (max-width:600px) {
    .subject-card{
        width: 100%;
    }
}

