.subjects{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 20px;
}
.heading-button{
    height: 40px;
    margin-top: 10px;
}
.pdf-text{
    margin-top: -200px;
}
.heading{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .subjects{
        grid-template-columns: 1fr;
    }
}